
@{

}
<aside class="nav-options">
    <a class="nav-brand" href="#">
        IS
    </a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul>
            <li class="active"><a href="/Dashboard/Index/" data-placement="right" data-toggle="tooltip" class="tip-right" data-original-title="Dashboard"><img src="~/images/ndashboard.png"></a></li>
            <li><a href="/Project/Index/" data-placement="right" data-toggle="tooltip" class="tip-right" data-original-title="Projects"><img src="~/images/to-do-list.png"></a></li>
            <li><a href="/Category/Index/" data-placement="right" data-toggle="tooltip" class="tip-right" data-original-title="Setting"><img src="~/images/nsetting.png"></a></li>
            <li><a href="/Account/Logout/"  data-placement="right" data-toggle="tooltip" class="tip-right" data-original-title="Logout"><img src="~/images/logout.png"></a></li>

        </ul>


    </div>
</aside>
